<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Blobfish Support Group Login</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
    h1{
        font-family: 'Press Start 2P', cursive;
        color: white;
        text-align: center;
        margin: 30 px;
    }

    h6{
        font-size: 34px;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }
    p{
        font-size: 24px;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }
            
    form{
        font-size: 20px;
    }
            
    body{
        background: linear-gradient(to right, #b387d3 0%,#f495a3 100%);
    }
    button, input{
        color: #000;
        background-color: #FFF;
    }
    </style>
</head>
<body>
    <h1>Welcome to the Blobfish Support Group!</h1>
        <br>
    <h6>Please name your sad blobfish!</h6>
    <form action="" method="post">
        <input type="text" name="givenName" />
        <input type="submit" value="Okay!">
    </form>
    <br>
    <p>no blobfish(es) were harmed in the making of this application.</p>
    <br>
</body>
</html>
